.lastWinners {
  margin: 34px 0 10px 0;
  display: inline-block;
  min-width: 440px;

  .title {
    font-size: 16px;
    margin-bottom: 16px;
    color: white;
    text-transform: uppercase;
  }
}

@media (max-width: 800px) {
  .lastWinners {
    margin-top: 0;
    min-width: auto;

    .title {
      font-size: 12px;
      margin-bottom: 11px;
    }
  }
  
}